.container {
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto;
    flex-wrap: wrap;
}

.min-height {
    min-height: 77vh;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}

@media screen and (min-width:800px) {
    .min-height {
        min-height: 80vh;
    }
}