.btn {
    background-color: #333;
    color: whitesmoke;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: .5s;
    border-radius: 4px;
    border: none;
}

.btn:hover {
    color: #efe011;
}