.navbar{
    background-color: #efe011;
    box-shadow: 1px 1px 10px 2px;
    padding: .5rem;
}

.container_logo{
    display: flex;
    align-items: center;
}

.container_logo h1{
    font-weight: 700;
}
