/*mobile first*/
.home_container {
    width: 90vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}

.home_container h1{
    font-size: 2rem;
    margin-bottom: .5rem;
    white-space: nowrap;
}

.home_container h1 span{
    color: #efe011;
    -webkit-text-stroke: .5px #000;
}


.span_despair{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_container img{
    position: relative;
    margin: 1rem auto;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: #b8b8b8 1px solid;
    z-index: 1;
}

.span_despair img{
    width: 190px;
    height: 170px;
    margin-left: 20px;
}

hr{
    width: 80vw;
}

.home_container p{
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.span_freedom{
    width: 85vw;
}
.span_freedom img{
    width: 100%;
    height: 200px;
}

@media only screen and (min-width: 280px) {/*very small device*/

    .home_container h1{
        font-size: 1.5rem;
    }

    .span_despair,.span_freedom{
        width: 90vw;
    }

    .span_despair img{
        margin-left: 0px;
        width: 50vw;
    }
}

@media only screen and (min-width: 600px) {/*medio device*/
    .home_container {
        min-height: 90vh;
        padding: 2rem;
    }
    
    .span_despair{
        width: 85vw;
    }
    
    .home_container img{
        margin: 1rem 0;
    }
    
    .span_despair img{
        width: 400px;
        height: 200px;
    }
    
    .home_container p{
        margin-bottom: 1.5rem;
        font-weight: bold;
        font-size: 1.1rem;
    }
    .span_freedom img{
        width: 100%;
        height: 65%;
    }
}

@media only screen and (min-width: 840px) {/*large devices*/
    .home_container {
        min-height: 100vh;
        width: 50vw;
    }
    
    .span_despair{
        width: 650px;
        display: flex;
        margin-top: 5rem;
        justify-content: space-between;
    }
    
    .span_despair img{
        width: 50%;
        margin-left: 20px;
    }
    
    hr{
        margin: 2rem;
        width: 500px;
    }

    .span_freedom{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 700px;
        height: 400px;
    }
    .span_freedom img{
        width: 650px;
    }
}
