.home_container {
    width: 90vw;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}

.home_container h1{
    font-size: 2rem;
    margin-bottom: .5rem;
    white-space: nowrap;
}

.home_container h1 span{
    color: #efe011;
    -webkit-text-stroke: .5px #000;
}


.span_despair{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_container img{
    position: relative;
    margin: 1rem 0;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: #b8b8b8 1px solid;
    z-index: 1;
}

.span_despair img{
    width: 190px;
    height: 170px;
    margin-left: 20px;
}

hr{
    width: 80vw;
}

.home_container p{
    margin-bottom: 1.5rem;
    font-weight: bold;
    font-size: 1.1rem;
}
.span_freedom img{
    width: 320px;
    height: 200px;
}