.container_details{
    padding: 2rem;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items:first baseline;
    flex-wrap: wrap;
}

.container_details p{margin-bottom: 2rem;color: #7a7a7a;}

.container_details span{font-weight: bold;}

.container_details h1{
    color: #efe011;
    background-color: #333;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.div_details,.div_service{
    border-bottom: 1px solid #7a7a7a;
    margin-bottom: 1.2rem;
    padding-bottom: 1.2rem;
    display: flex;
    flex-wrap: wrap;
}

.btn {
    background-color: #333;
    color: whitesmoke;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: .5s;
    border-radius: 4px;
    border: none;
}

.btn:hover {color: #efe011;}

.div_info{width: 100vw;}