.App {
  text-align: center;
}

/* h1 {
  font-size: 1.3rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem 0;
  background-color: #efe011;
  box-shadow: 1px 1px 10px 2px;
} */

img {
  position: relative;
  margin-left: .5rem;
  height: 70px;
  width: 70px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}