.card_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    flex-wrap: wrap;
    width: 40vw;
    min-height: 30vh;
    border: 1px solid whitesmoke;
    padding: 1rem;
    border-radius: 4px;
    margin: .5rem auto;
}

.card_container h4{
    background-color: #efe011;
    color: #333;
    border: 1px solid #333;
    border-radius: 4px;
    padding: .5rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    text-align: center;
}

.card_container p{
    color: #7a7a7a;
    margin-bottom: 1rem;
}

.card_container p span{
    font-weight: bold;
}

.category_text{
    display: flex;
    align-items: center;
}
